<!-- src/app/login/login.component.html -->>
<div class="page">
  <div class="container">
    <div class="left">
      <div class="login">Login</div>
      <div class="eula">By logging in you agree to the ridiculously long terms that you didn't bother to read.</div>
    </div>
    <div class="right">
      <svg viewBox="0 0 320 300">
        <defs>
          <linearGradient id="linearGradient" x1="13" y1="193.5" x2="307" y2="193.5" gradientUnits="userSpaceOnUse">
            <stop style="stop-color:#ff00ff;" offset="0" />
            <stop style="stop-color:#ff0000;" offset="1" />
          </linearGradient>
        </defs>
        <path d="M 40,120 280,120 c 0,0 25,1 25,35 0,34 -25,35 -25,35 H 40 c 0,0 -25,4 -25,38.5 0,34.5 25,38.5 25,38.5 h 215 c 0,0 20,-1 20,-25 0,-24 -20,-25 -20,-25 H 65 c 0,0 -20,2 -20,25 0,24 20,25 20,25 h 168.57" />
      </svg>
      <div class="form">
        <form (ngSubmit)="login()">
          <label for="username">Username</label>
          <input type="text" id="username" [(ngModel)]="username" name="username" required />
          <label for="password">Password</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required />
          <input type="submit" id="submit" value="Login" />
        </form>
      </div>
    </div>
  </div>
</div>
